---
interface Props {
  title?: string;
}

const { title = 'Note' } = Astro.props;
---

<aside class="callout">
  <p class="callout-title">{title}</p>
  <div class="callout-body">
    <slot />
  </div>
</aside>
